<!--<h2 *ngIf="toggle">
  Hello from angular
</h2>

<button (click)="toggle = !toggle">Toggle</button>

<ul>
  <li *ngFor="let name of names let i = index">{{i}} {{name}}</li>
</ul>-->

<!--<ul>
  <li *ngFor="let t of tasks" [class.strikethrough]="t.complete">{{t.task_name}}</li>
  <li *ngFor="let t of tasks" [ngClass]="{'strikethrough' : t.complete}">{{t.task_name}}</li>
</ul>-->

<!--
<div class="container" appHighlight color="blue">
  <input type="text" [(ngModel)]="taskName" />
  <button type="button" (click)="onAddTask(taskName)">Add</button>
  <ul class="list-unstyled">
    <li *ngFor="let t of tasks">
      <input type="checkbox" [(ngModel)]="t.complete" /><span [class.strikethrough]="t.complete">{{t.task_name}}</span><br/>
    </li>
  </ul>
</div>
-->

<app-cookie-dispenser></app-cookie-dispenser>
<br>
<app-cookie-factory></app-cookie-factory>
<br>
<app-cookie-info></app-cookie-info>
